body{
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(114, 225, 245);
}
h1{
    text-align: center;
}
form{
    margin:0 20%;
    padding: 2% 5%;
    background-color:rgb(247, 220, 230);
}

fieldset{
    margin: 5% 0;
    border: rgb(0, 0, 0) dashed 2px;
}

input, select, textarea{
    background-color: rgb(247, 247, 171);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 0.5%;
}

p{
    margin: 5% 0;
    padding: 0;
    font-weight: bold;
}

div{
    text-align: center;
}